.fl-module-isic-slider .bx-wrapper {
	margin-bottom: 0;
}

.fl-module-isic-slider .bx-controls {
	height: 0;
}

.isic-slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
	min-height: 420px;
	border-radius: .5rem;
}

.isic-slide__inner {
	display: flex;
	max-width: 1184px;
	margin: 0 auto;
	justify-content: flex-end;
}

.isic-slide__caption {
	width: 25%;
	margin: 2rem 0;
	background-color: rgba(255,255,255,.7);
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-radius: 3px;
	padding: 1rem;
}

.isic-slide .isic-slide__heading {
	font-size: 1.2rem;
	margin: 0;
}

.isic-slide__description {
	font-size: .9rem;
	margin: 1rem 0 0;
}

.isic-slide__tagline {
	max-width: 1184px;
	margin: 0 auto;
	justify-content: flex-end;
	width: 100%;
	padding: .5rem 1rem;
	line-height: 1;
	border-radius: .25rem .25rem 0 0;
	opacity: 0.7;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}


@media (max-width: 992px) {
	.isic-slide{
		justify-content: flex-end;
	}
	.isic-slide__caption {
		width: 100%;
		margin: 2rem 0 0 0;
	}

	.fl-module-isic-slider .bx-wrapper .bx-controls-direction a {
		bottom: 43px;
		top: auto;
	}
	.fl-module-isic-slider .bx-wrapper .bx-prev {
		right: 50px;
		left: auto;
	}
}

@media (max-width: 340px) {
	.isic-slide__tagline {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	.fl-module-isic-slider .bx-wrapper .bx-pager.bx-default-pager {
		position: relative;
    bottom: 37px;
    padding: 0;
    text-align: right;
    right: 10px;
	}
	.fl-module-isic-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
		background-color: #fff;
	}
	.fl-module-isic-slider .bx-wrapper .bx-pager.bx-default-pager a {
		background-color: rgba(255, 255, 255, 0.35);
	}
}

@media (min-width: 1318px) {
	.fl-module-isic-slider .bx-wrapper .bx-pager.bx-default-pager {
		right: 74px;
	}
}

@media (max-width: 1415px) and (min-width: 993px) {
	.isic-slide__caption {
		margin-right: 54px;
	}
}